{
  "plugins": [
    "unicorn",
    "@typescript-eslint",
    "react"
  ],
  "parser": "@typescript-eslint/parser",
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": [
    "plugin:unicorn/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "settings": {
    "react": {
      "version": "detect",
      "createClass": "createReactClass",
      "pragma": "React",
      "fragment": "Fragment"
    },
    "propWrapperFunctions": [
      "forbidExtraProps",
      {"property": "freeze", "object": "Object"},
      {"property": "myFavoriteWrapper"}
    ],
    "linkComponents": [
      "Hyperlink",
      {"name": "Link", "linkAttribute": "to"}
    ]
  },
  "rules": {
    "semi": ["warn","never"],
    "quotes": ["warn", "single"],
    "semi-spacing": "warn",
    "no-console": "warn",
    "object-curly-spacing": "warn",
    "object-shorthand": "warn",
    "indent": "warn",
    "unicorn/prevent-abbreviations": "off",
    "unicorn/consistent-function-scoping": "off",
    "react/jsx-first-prop-new-line": "off",
//    "react/jsx-prop-new-line": "warn", //BUGGY. Definition for rule 'react/jsx-prop-new-line' was not found
    "react/jsx-max-props-per-line": ["warn", {"maximum": 1}],
    "react/jsx-closing-bracket-location": ["warn", "line-aligned"],
    "react/jsx-uses-react": "warn",
    "@typescript-eslint/no-unused-vars": "error",
    "@typescript-eslint/no-explicit-any": "off"
  }
}
