{
  "tabWidth": 2,
  "semi": false,
  "bracketSpacing": false,
  "endOfLine": "auto",
  "trailingComma": "none",
  "singleQuote": true,
  "htmlFormatWrapLineLength": 80,
  "htmlFormatWrapAttributes": "force-expand-multiline"
}
