.menu {
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;

  &__links-wrapper {
    display: flex;
    flex-direction: row;
  }

  &__button {
    margin: 0 8px;
  }
}
