.itunes-cart {
  width: 100%;
  display: flex;
  flex-direction: column;

  &__list {
    height: 100%;
    padding: 8px 0;

    .ScrollbarsCustom-Content {
      display: flex;
      flex-direction: column;
    }
  }

  &__product {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 14px;
    border: 1px solid rgba(var(--main), 0.5);
    margin-bottom: 8px;
  }

  &__image {
    width: 24px;
    height: 24px;
  }

  &__thumbnail {
    margin-right: 24px;
    margin-left: 8px;
    height: 24px;
  }

  &__name {
    flex-basis: 0;
    flex-grow: 1;
  }

  &__price {
    flex-basis: 0;
    flex-grow: 1;
  }

  &__btn {

  }

  &__footer {
    display: flex;
  }

  &__clear-cart {
    margin: auto 0;
  }

  &__total {
    flex-grow: 1;
    font-size: 36px;
    font-weight: bold;
    padding: 8px;
    display: flex;
    justify-content: flex-end;
  }

}
