.request-loader {
  z-index: 999999999999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: transparent;

  &__bar {
    width: 0;
    height: 100%;
    background-color: rgba(var(--main-text), 1);

    &--90 {
      animation: progress-90 5s ease;
      animation-fill-mode: forwards;
    }

    &--100 {
      animation: progress-100 0.2s ease;
    }

    &--error {
      transition-duration: 1s;
      background-color: red;
      opacity: 1;
      width: 100%;
    }

    &--hidden {
      display: none;
    }
  }

  &--visible {
    visibility: visible;
  }
}

@keyframes progress-90 {
  0% {
    opacity: 1;
    width: 0;
  }

  100% {
    width: 90%;
    opacity: 1;
  }
}

@keyframes progress-100 {
  0% {
    width: 90%;
  }

  100% {
    width: 100%;
    opacity: 0;
  }
}
